.onboardingquideWrap .simpleBtn {
  display: inline-block;
  padding: 9px;
  vertical-align: middle;
  border: 1px solid transparent;
  width:170px !important;
  margin-left: 10px;
}
.onboardingquideWrap .client-btn {
  background-color: #3aa69b;
  color: #FFFFFF;
  border-radius: 0px;
  padding: 2px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  width: 150px;
  outline: 0;
}
