<div class="404pageWrap">
    <div class="errorBox">
        <h2>Unauthorized Access</h2>
        <h4>You don't have permission to access page.</h4>

        <div class="col-sm-12 text-center">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <span class="pull-left">
                    <a href="javascript:void(0)" routerLink="/c-dashboard/csa/summary">Home</a>
                </span>
                <span class="pull-right">
                    <a href="javascript:void(0)" (click)="goToBack()">Back</a>
                </span>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</div>
<footer class="error-footer">
    <div class="copyrightTxt">Copyright &copy; 2019 Trea365</div>
</footer>