<div class="inventory-section newreceivingslipWrap">
  <h3 class="pageTitle">New Receiving Slip</h3>
  <div class="clearfix"></div>
  <form autocomplete="off" role="form" [formGroup]="addUnlistedItemFm">
    <div class="purchaseorderWrap">
      <div class="clearfix"></div>
      <div class="purchaseorderDetails">
        <div class="row">
          <div class="col-sm-6">
            <div class="row" *ngIf="poData && poData.purchase_order_no">
              <div class="col-sm-6">
                <div class="label-col">Purchase Order No.</div>
              </div>
              <div class="col-sm-6">
                <div class="info-col">{{poData.purchase_order_no}}</div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="label-col">Supplier</div>
              </div>
              <div class="col-sm-6">
                <div class="form-group clearfix">
                  <div class="autoCompleteList">
                    <div class="searchList">
                      <mat-form-field class="product">
                        <input autocomplete="off" matInput placeholder="" [formControl]="supplier"
                          [matAutocomplete]="supplierAutoComp" (keyup)="validateSupplier($event)" id="supplier_id"
                          name="supplier">
                        <i *ngIf="supplier.value!=''"
                          (click)="util.focusHiddenInput('hiddenInput');util.clearAutoComplete('supplier_id', [supplier, supplier_id]); clearDetails();"
                          class="clearAutoComplete fa fa-times-circle" aria-hidden="true"></i>
                        <img *ngIf="supplier.value==''" class="selectBoxIcon" aria-hidden
                          src="assets/icon/select.png" />
                        <mat-autocomplete #supplierAutoComp="matAutocomplete">
                          <mat-option *ngFor="let indx=index; let item of filteredSupplier | async"
                            [value]="item.supplier_name" (onSelectionChange)="getSelectedSupplier(item, $event)">
                            <span>{{ item.supplier_name }}</span>
                          </mat-option>

                          <mat-option (click)="showAddSupplierPopup()"
                            canAccess="supplier_create"
                          >
                            <img aria-hidden src="assets/icon/icon-add.png" />
                            <span>New Supplier</span>
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>

                      <div *ngIf="isSupplierLoad" class="loaderField"><i
                          class="fa fa-spinner fa-pulse fa-3x fa-fw action"></i></div>
                    </div>
                  </div>

                  <span class="error-msg"
                    *ngIf="supplier_id.invalid && (supplier_id.dirty || supplier_id.touched || submitted)">
                    <small *ngIf="supplier_id.errors.required">Please select Supplier from the list.</small>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <div class="label-col">Date</div>
              </div>
              <div class="col-sm-6">
                <div class="info-col">{{util.getFormatedDate(today)}}</div>
              </div>
            </div>
            <div class="row" *ngIf="poData && poData.genrated_by">
              <div class="col-sm-6">
                <div class="label-col">Generated by</div>
              </div>
              <div class="col-sm-6">
                <div class="info-col">{{poData.genrated_by ? poData.genrated_by.first_name : ''}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="pageData.supplier">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <div class="label-col">Email</div>
              </div>
              <div class="col-sm-6">
                <div class="form-group clearfix">
                  {{pageData.supplier.email_id ? pageData.supplier.email_id : 'N/A' }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <div class="label-col">Phone</div>
              </div>
              <div class="col-sm-6">
                <div class="form-group clearfix">
                  {{pageData.supplier.phone_no ? pageData.supplier.phone_no : 'N/A' }}
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row" *ngIf="pageData.supplier">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <div class="label-col">Address</div>
              </div>
              <div class="col-sm-6">
                <div class="form-group clearfix">
                  {{pageData.supplier.address1 ? util.concatenateStrings(pageData.supplier.address2,pageData.supplier.address1) : 'N/A' }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="unlisteditemsDetails">
      <div class="serPart text-center">
        <span>Ordered Items</span>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Manufacturer</th>
              <th>Item Definition</th>
              <th>Qty Received (Units)</th>
              <th>Price/Unit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items.controls; let indx=index" [formGroup]="item">
              <td>
                <img *ngIf="items.controls.length > 1" class="img-responsive" src="assets/icon/close_icon.png"
                  (click)="removeItem(indx, item)">
              </td>
              <td>
                <div class="form-group">
                  <div class="autoCompleteList">
                    <div class="searchList">
                      <mat-form-field class="product">
                        <input autocomplete="nope" id=manf_name_{{indx}} matInput placeholder=""
                          [formControl]="item.get('manufacturer')" [matAutocomplete]="manufacturerAutoComp"
                          (keyup)="validateManf($event, item, indx)">
                        <i *ngIf="item.get('manufacturer').value!=''"
                          (click)="util.focusHiddenInput('hiddenInput');util.clearAutoComplete('manf_name_', [item.get('manufacturer'), item.get('manf_id'), item.get('manufacturerPart'), item.get('item_def_id')], indx);"
                          class="clearAutoComplete fa fa-times-circle" aria-hidden="true"></i>
                        <img *ngIf="item.get('manufacturer').value==''" class="selectBoxIcon" aria-hidden
                          src="assets/icon/select.png" />
                        <mat-autocomplete #manufacturerAutoComp="matAutocomplete">
                          <mat-option
                            *ngFor="let optionIndx=index; let item of item.get('filteredManufacturer').value | async"
                            [value]="item.manf_name" (onSelectionChange)="getMfg(item, $event, indx)">
                            <span>{{ item.manf_name }}</span>
                          </mat-option>

                          <mat-option (click)="showAddManufacturerPopup(indx)"
                            canAccess="manufacturer_create"
                          >
                            <img aria-hidden src="assets/icon/icon-add.png" />
                            <span>New Manufacturer</span>
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                      <div *ngIf="isManfLoad" class="loaderField"><i
                          class="fa fa-spinner fa-pulse fa-3x fa-fw action"></i></div>
                    </div>
                  </div>
                  <span class="error-msg"
                    *ngIf="(item.get('manf_id').invalid) && (item.get('manf_id').dirty || item.get('manf_id').touched || submitted)">
                    <small *ngIf="item.get('manf_id').errors.required">Please select Manufacturer from the list.</small>
                  </span>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <div class="autoCompleteList">
                    <div class="searchList">
                      <mat-form-field class="product">
                        <input autocomplete="nope" id=prod_name_{{indx}} matInput placeholder=""
                          [formControl]="item.get('manufacturerPart')" [matAutocomplete]="manufacturerPartAutoComp"
                          (keyup)="validateManfPart($event, item, indx)">
                        <i *ngIf="item.get('manufacturerPart').value!=''"
                          (click)="util.focusHiddenInput('hiddenInput');util.clearAutoComplete('prod_name_', [item.get('manufacturerPart'), item.get('item_def_id')], indx);"
                          class="clearAutoComplete fa fa-times-circle" aria-hidden="true"></i>
                        <img *ngIf="item.get('manufacturerPart').value==''" class="selectBoxIcon" aria-hidden
                          src="assets/icon/select.png" />
                        <mat-autocomplete #manufacturerPartAutoComp="matAutocomplete">
                          <mat-option
                            *ngFor="let optionIndx=index; let item of item.get('filteredManufacturerPart').value | async"
                            [value]="item.item_definition_name" (onSelectionChange)="getManfPart(item, $event, indx)">
                            <span>{{ item.item_definition_name }}</span>
                          </mat-option>

                          <mat-option *ngIf="item.get('manufacturer').value!=''"
                            (click)="showAddManufacturerPartPopup(indx)"
                                canAccess="item_definition_create"
                            >
                            <img aria-hidden src="assets/icon/icon-add.png" />
                            <span>New Item Definition</span>
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                      <div *ngIf="item.get('isSubLocationLoad').value" class="loaderField"><i
                          class="fa fa-spinner fa-pulse fa-3x fa-fw action"></i></div>
                    </div>
                  </div>
                  <span class="error-msg"
                    *ngIf="item.get('item_def_id').invalid && (item.get('item_def_id').dirty || item.get('item_def_id').touched || submitted)">
                    <small *ngIf="item.get('item_def_id').errors.required">Please select Item Definition from the
                      list.</small>
                  </span>
                </div>
              </td>
              <td>
                <div class="form-group ">
                  <div class="row">
                    <div class="col-sm-8 quantity-input">
                      <input autocomplete="nope" type="number" formControlName="quantity_received" id="qtyReceived"
                        name="qtyReceived" class="PadR0 form-control" (keyup)="calculateCostOfOrder()" (keypress)="util.moneyCheck($event)">
                       <!-- (keypress)="util.numberCheck($event)"
                        (keyup)="util.removeCommas(item.get('quantity_received'))"  -->
                    </div>
                    <div class="col-sm-4 uom-symbol" *ngIf="item.get('manufacturerPart').value!=''">
                      &nbsp;{{item.get('uom').value}}</div>
                  </div>
                  <span class="error-msg row"
                    *ngIf="item.get('quantity_received').invalid && (item.get('quantity_received').dirty || item.get('quantity_received').touched || submitted)">
                    <small *ngIf="item.get('quantity_received').errors.required">Quantity is required.</small>
                    <small *ngIf="item.get('quantity_received').errors.pattern">Invalid Quantity.</small>
                  </span>
                </div>

              </td>
              <td>
                <div class="form-group">
                  <input autocomplete="nope" type="text" id="Price" name="Price" formControlName="price_per_unit"
                    class="form-control" (keyup)="util.removeCommas(item.get('price_per_unit'))"
                    (keyup)="calculateCostOfOrder()">
                  <span class="error-msg"
                    *ngIf="item.get('price_per_unit').invalid && (item.get('price_per_unit').dirty || item.get('price_per_unit').touched || submitted)">
                    <small *ngIf="item.get('price_per_unit').errors.required">Price/Unit is required.</small>
                    <small *ngIf="item.get('price_per_unit').errors.pattern">Invalid Price/Unit.</small>
                  </span>
                </div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <span (click)="addPurchaseItem(0)" class="addMore">
                  <img src="assets/icon/icon-16.png" class="img-responsive" alt="Add Items">
                  <span>Add Item</span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="clearfix"></div>
    <h3 class="detailsHeading">Payment Details</h3>
    <h4 class="detailsHeading">Costs</h4>
    <div class="costWrap">
      <div class="row">
        <div class="col-sm-6">
          <div class="label-col">Cost of Order</div>
        </div>
        <div class="col-sm-6">
          <div class="info-col">{{pageVariables.costOfOrder | currency: util.getCurrency() :'symbol-narrow'}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="label-col"><strong>Subtotal</strong></div>
        </div>
        <div class="col-sm-6">
          <div class="info-col">
            <strong>{{pageVariables.subTotal | currency: util.getCurrency() :'symbol-narrow'}}</strong></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="label-col">Shipping & Handling</div>
        </div>
        <div class="col-sm-6">
          <div class="info-col">
            <div class="form-group">
              <!-- calculateCostOfOrder() -->
              <input autocomplete="nope" type="text" formControlName="shipping_handling" class="form-control"
                (keyup)="calculatePymTotal()" />
              <span class="error-msg"
                *ngIf="shipping_handling.invalid && (shipping_handling.dirty || shipping_handling.touched || submitted)">
                <small *ngIf="shipping_handling.errors.required">Shipping and Handling is required.</small>
                <small *ngIf="shipping_handling.errors.pattern">Invalid Amount (e.g 54, 78.25).</small>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="label-col">Adjustment (+/-)</div>
        </div>
        <div class="col-sm-6">
          <div class="info-col">
            <div class="form-group">
              <!-- calculateCostOfOrder() -->
              <input autocomplete="nope" type="text" formControlName="adjustment" class="form-control"
                (keyup)="calculatePymTotal()" />
              <span class="error-msg"
                *ngIf="adjustment.invalid && (adjustment.dirty || adjustment.touched || submitted)">
                <small *ngIf="adjustment.errors.required">Adjustment is required.</small>
                <small *ngIf="adjustment.errors.pattern">Invalid Amount (e.g 54, 78.25).</small>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="label-col form-group">Tax @
            <input autocomplete="nope" type="text" formControlName="tax" class="taxInput" (keyup)="calculatePymTotal()" />
            <span>%</span>
            <span class="error-msg" *ngIf="tax.invalid && (tax.dirty || tax.touched || submitted)">
              <small *ngIf="tax.errors.min || tax.errors.max || tax.errors.pattern">Invalid Taxes.</small>
            </span>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="info-col">
            {{pageVariables.taxes | currency: util.getCurrency() :'symbol-narrow'}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="label-col"><strong>Total Cost</strong></div>
        </div>
        <div class="col-sm-6">
          <div class="info-col">
            <strong>{{pageVariables.totalCost | currency: util.getCurrency() :'symbol-narrow'}}</strong>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="pageData.supplier">
        <div class="col-sm-6">
          <div class="label-col"><strong>Payment Due Date</strong></div>
        </div>
        <div class="col-sm-6">
          <div class="info-col  form-group">
            <!-- <strong>Net {{pageData.supplier.payment_terms}} days</strong> -->
            <div class="dateWrapper">
                <input autocomplete="nope" type="text" formControlName="payment_due_date" placeholder=""
                class="date" [matDatepicker]="picker" style="pointer-events: none;">
                <mat-datepicker #picker></mat-datepicker>
                <span class="dateIcon" (click)="picker.open()"><img src="assets/icon/date_picker.png"></span>
                <div class="clearfix"></div>
            </div>    
          </div>
        </div>
      </div>
    </div>

    <div class="row MT20">
      <div class="form-group">
        <div class="col-md-2">
          <label class="label-col" for="comment">Comment</label>
        </div>
        <div class="col-md-6">
          <textarea autocomplete="nope" class="form-control" formControlName="comment" placeholder="(optional)"
            rows="6"></textarea>
          <span class="error-msg" *ngIf="comment.invalid && (comment.dirty || comment.touched || submitted)">
            <small *ngIf="comment.errors.maxlength">Comment must not be longer than
              {{constant.DEFAULT_COMMENT_MAXLENGTH}} characters.</small>
          </span>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </form>
  <div class="clearfix"></div>
  <div class="errMsgCon" *ngIf="isError">
    <small>{{errMsg}}</small>
  </div>
  <div class="button-row clearfix">
    <button mat-raised-button *ngIf="poData.status != 'Completed'" id="add-inventory" (click)="addReceivingslip()"
      class="trea-btn">Add to inventory</button>
    <button mat-raised-button id="add-emp" routerLink="/inventory/rs/csa/receiving-slips-list/0"
      class="trea-btn">Cancel</button>
  </div>
</div>
<!-- NOTE: implement for close dropdown during on the fly -->
<input type="hidden" id="hiddenInput" placeholder="">
