<div id="loadingMask" class="loader" *ngIf="util.loader">Loading...</div>

<div class="login-section">
    <div class="left">
        <div class="login-main forgot-pass-con">
            <div class="logo">
                <img src="assets/logo/trea-logo.png">
            </div>

            <div class="forgot-pass-s1">
                <div class="reset-pass-hdr">Welcome!</div>
                 <div class="form-group">Please use the username and temporary password that were sent to you by email to sign in below. You will be able to set your permanent password on the next page.</div>
                <div class="form-con row">
                    <form autocomplete="off" [formGroup]="setPassFm" (keydown)="keyDownFunction($event, setPassFm)" novalidate>
                        <div class="form-group form-ele">
                            <label class="col-sm-5 control-label" for="username">Username</label>
                            <div class="col-sm-7">
                                <input autocomplete="nope" type="text" id="username" name="username" placeholder="" class="form-control" (keypress)="util.noSpace($event)" formControlName='username' pattern='^\S*$'>
                                <span class="error-msg" *ngIf="username.invalid && (username.dirty || username.touched || submitted)">
                                    <small *ngIf="username.errors.required">Username is required.</small>
                                    <small *ngIf="username.errors.pattern">Enter valid Username.</small>
                                </span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label" for="password">Temporary Password</label>
                            <div class="col-sm-7">
                                <div class="resetPassWrap">
                                    <div class="showPassIcon" (click)="hide = !hide">
                                        <div *ngIf="hide">
                                            <img src="assets/icon/hide_pass.png">
                                        </div>
                                        <div *ngIf="!hide">
                                            <img src="assets/icon/show_pass.png">
                                        </div>
                                    </div>
                                    <input autocomplete="nope" [type]="hide ? 'text' : 'password'" id="password" [(ngModel)]="newUserPassword" name="password" placeholder="" class="form-control" (keypress)="util.noSpace($event)" formControlName='password'>
                                    <span class="error-msg" *ngIf="password.invalid && (password.dirty || password.touched || submitted)">
                                        <small *ngIf="password.errors.required">Password is required.</small>

                                    </span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="errMsgCon" *ngIf="isError">
                            <small>{{errMsg}}</small>
                        </div>

                        <div class="btn-wrap">
                            <button class=" lgBtn cancel" id="login-fm-btn" (click)="submit(setPassFm)">Sign in</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>

            <div class="login-bottom-footer">
              <div>Copyright&copy; 2019 Trea365</div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
